<header class="sticky top-0 z-50 bg-white/80 backdrop-blur-md border-b border-gray-100">
  <div class="max-w-7xl mx-auto px-6 h-16 flex items-center gap-8">

    <a routerLink="/" class="flex items-center gap-2 text-gray-900 no-underline">
      <span class="w-2.5 h-2.5 bg-green-400 rounded-full"></span>
      <span class="text-lg tracking-tight">thech<strong class="text-green-400">blog</strong></span>
    </a>

    <nav class="flex items-center gap-1 flex-1">
      <a routerLink="#"
        class="px-3 py-1.5 rounded-lg text-sm text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition-colors no-underline">Bosh
        sahifa</a>
      <a routerLink="#"
        class="px-3 py-1.5 rounded-lg text-sm text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition-colors no-underline">Maqolalar</a>
    </nav>

    <div class="flex items-center gap-2">
      <button class="cursor-pointer w-8 h-8 flex items-center justify-center rounded-lg text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition-colors">
        <tui-icon icon="@tui.search" [style.height.rem]="1" />
      </button>
      
      <button class="cursor-pointer w-8 h-8 flex items-center justify-center rounded-lg text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition-colors">
        <!-- <tui-icon icon="@tui.moon" [style.height.rem]="1" /> -->
        <tui-icon icon="@tui.moon" [style.height.rem]="1" />
      </button>
      <button tuiButton appearance="flat" class="text-gray-900! flex items-center gap-2! px-4! hover:opacity-75!" size="s" routerLink="#">
        <tui-icon
          icon="@tui.notebook-pen"
          [style.height.rem]="1"
        />
        Maqola yozish
      </button>
      <button tuiButton class="px-6!" appearance="accent" size="s" routerLink="#">Kirish</button>
    </div>

  </div>
</header>