<div class="flex min-h-screen bg-app-bg">
  
  <div class="flex-1 flex flex-col justify-center p-8 sm:px-12 lg:flex-none xl:w-xl 2xl:w-3xl">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <app-logo />
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="hidden lg:block relative flex-1 w-0 overflow-hidden">
    <div class="absolute inset-0 bg-linear-to-br to-transparent z-10"></div>
    
    <div class="absolute inset-0 flex items-center justify-center p-20">
      <img
        src="/auth-banner.svg"
        alt=""
        class="w-lg"
      />
    </div>

  </div>
</div>