<div class="py-8 md:py-12 animate-fade-in max-w-4xl mx-auto px-4 md:px-0">
  @if (article) {
    <article>
      <button
        tuiButton
        size="xs"
        routerLink="/"
        appearance="flat"
        class="inline-flex items-center gap-2 text-sm text-app-text-primary! hover:text-green-400 transition-colors mb-2 no-underline font-medium"
      >
        <tui-icon icon="@tui.arrow-left"></tui-icon> 
        Orqaga
      </button>

      <header class="mb-10">
        <h1 class="text-3xl md:text-5xl font-bold tracking-tight text-app-text-primary mb-6 leading-tight">
          {{ article!.title }}
        </h1>

        <div class="flex flex-wrap items-center gap-4 text-sm w-full pb-6 border-b border-app-border">
          <div class="flex items-center gap-3">
            <img
              [src]="article!.author.avatar_url || 'https://ui-avatars.com/api/?name=' + article!.author.full_name"
              alt=""
              class="h-10 w-10 rounded-full bg-app-bg-alt border border-app-border object-cover"
            >
            <span class="font-medium text-app-text-primary">
              {{ article!.author.full_name }}
            </span>
          </div>

          <span class="w-1 h-1 bg-app-border rounded-full hidden sm:block"></span>
          
          <time [attr.datetime]="article!.created_at" class="text-app-text-secondary">
            {{ article!.created_at | date:'mediumDate' }}
          </time>

          <span class="w-1 h-1 bg-app-border rounded-full hidden sm:block"></span>
          
          <span class="text-app-text-secondary">
            {{ article!.reading_time }}
          </span>

          <span class="ml-auto text-xs px-2.5 py-1.5 rounded-lg bg-app-bg-alt text-app-text-primary border border-app-border font-medium">
            {{ article!.status }}
          </span>
        </div>
      </header>

      @if (article!.cover_image) {
        <div class="w-full aspect-video sm:aspect-21/9 mb-12 overflow-hidden rounded-2xl bg-app-bg-alt border border-app-border outline outline-app-border">
          <img [src]="article!.cover_image" [alt]="article!.title" class="object-cover w-full h-full">
        </div>
      }

      <div class="text-app-text-primary leading-relaxed md:text-lg prose-base max-w-none">
        {{article!.content}}
      </div>
    </article>
  } @else {
    <div class="py-20 text-center">
      <h2 class="text-2xl font-bold text-app-text-primary mb-4">Maqola topilmadi</h2>
      <p class="text-app-text-secondary mb-8">Siz qidirayotgan maqola mavjud emas yoki o'chirilgan.</p>
      <a routerLink="/" class="px-5 py-2.5 rounded-lg bg-green-500 hover:bg-green-400 text-white font-medium transition-colors no-underline">
        Bosh sahifaga qaytish
      </a>
    </div>
  }
</div>
