<div class="py-8 md:py-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 lg:gap-8">
    @for (article of articles(); track article.id) {
      <app-article-card
        [article]="article"
        [showActions]="false"
      />
    } @empty {
      @if (isLoading()) {
        <app-skeleton [skeleton]="isLoading()" [count]="45" />
        <app-skeleton [skeleton]="isLoading()" [count]="45" />
        <app-skeleton [skeleton]="isLoading()" [count]="45" />
        <app-skeleton [skeleton]="isLoading()" [count]="45" />
        <app-skeleton [skeleton]="isLoading()" [count]="45" />
        <app-skeleton [skeleton]="isLoading()" [count]="45" />
      } @else {
        <div class="col-span-full py-16 text-center border border-dashed border-app-border rounded-2xl">
          <p class="text-app-text-secondary text-base">Hozircha maqolalar yo'q.</p>
        </div>
      }
    }
  </div>
</div>
